body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #1bbc9b;
}
.main-box {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.main-box figure {
  float: right;
}
.main-box figure figcaption {
  font-size: 11px;
  color: #fff;
}
.main-box figure figcaption p {
  font-weight: bold;
}
.main-box form {
  width: 100%;
  background-color: #eeeff1;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.main-box form:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #eeeff1 transparent transparent;
}
.main-box form input {
  width: 100%;
  height: 23px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  color: #bec9ca;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding-left: 5px;
  outline: none;
}
.main-box form .send-btn {
  width: 100%;
  text-align: center;
  height: 23px;
  background-color: #1bbc9b;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  outline: none;
}
.main-box form a {
  margin-top: 10px;
  font-size: 11px;
  display: inline-block;
  color: #bec9ca;
  text-decoration: underline;
}
.input-group {
  position: relative;
  display: inherit;
  border-collapse: separate;
}
.fa {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  top: 14px;
  right: 5px;
  position: absolute;
  color: #bdc6c8;
  margin-top: -10px;
}
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
.spinner .fa {
  position: relative;
  top: 3px;
  left: -30px;
  font-size: 16px;
}
.send-btn.active {
  cursor: progress;
}
.send-btn.active .spinner {
  opacity: 1;
  width: auto;
}
/*FOR MOBILE*/
@media (max-width: 768px) {
  .main-box figure {
    float: none;
    text-align: center;
  }
  .main-box figure figcaption {
    font-size: 11px;
    color: #fff;
  }
  .main-box figure figcaption p {
    font-weight: bold;
  }
  .main-box form:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #eeeff1 transparent;
    transform: translate(-50%);
  }
}
